In [177]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import re
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

### Explore Dataset

In [178]:
#constants
RAW_DATA_PATH = '../data/raw/Wuzzuf_Jobs.csv'
PREPROCESSED_DATA_PATH = '../data/processed/preprocessed_data.pkl'

#abbreviations
ABBR_DICT = {'Jr':'Junior','Sr':'Sunior','VC':'Vice','QC':'Quality Control','HR':'Human Resources',
             'BI':'Business Intelligence','UI':'User Interface','UX':'User Experience'}

In [179]:
dataset = pd.read_csv('../data/raw/Wuzzuf_Jobs.csv')

In [180]:
dataset.sample(10)

,Title,Company,Location,Type,Level,YearsExp,Country,Skills
734,Assistant Branch Manager - Retail Store (Tanta),QUATTRO,Tanta,Full Time,Experienced,3-5 Yrs of Exp,Gharbia,"Sales Target, Customer Service, Retail, Custom..."
1526,HR Section Head,Confidential,Maadi,Full Time,Manager,5+ Yrs of Exp,Cairo,"HR, Recruitment, Personnel, Medical, Pharmacy,..."
1093,Costing & Budgeting Section Head,Confidential,Ataqah,Full Time,Manager,7-10 Yrs of Exp,Suez,"Accounting, Costing, Manufacturing, Financial ..."
2519,Automotive CRM Manager,Kayan Egypt for Trading & Investment,Katameya,Full Time,Manager,5-7 Yrs of Exp,Cairo,"Customer Service, Automotive, Business Adminis..."
92,Logistics Supervisor,wnpro,Cairo,Full Time,Manager,5+ Yrs of Exp,Egypt,"Supply Chain, Warehousing, Operations, Logisti..."
2880,Indoor Sales Representative,American Egypt Investment Company AEIC,Katameya,Full Time,Entry Level,1+ Yrs of Exp,Cairo,"Females Only, Sales Skills, Sales Indoor, Cust..."
875,Sales Representative Indoor/Outdoor,Safety Pro,Mokattam,Full Time,Experienced,3-5 Yrs of Exp,Cairo,"Outdoor Sales, Sales Skills, Indoor Sales, Com..."
101,Accounting Manager,wnpro,Mohandessin,Full Time,Manager,5+ Yrs of Exp,Giza,"Finance, Financial Management, Financial Analy..."
2196,HR Generalist,AMACO,6th of October,Full Time,Experienced,3-7 Yrs of Exp,Giza,"Human Resources (HR), HR, Hiring, Contracts, H..."
4082,Purchasing And Logistics Specialist,Life Trading,Giza,Full Time,Experienced,5-10 Yrs of Exp,Egypt,"Purchasing, Logistics, Procurement, CKD, Impor..."

In [181]:
dataset['Title'].sample(100)

1270                              Indoor Sales Specialist
3718                         Digital Marketing Specialist
976                   Senior Full Stack / DevOps Engineer
196                                   Procurement Manager
3261                           Technical Support Engineer
208     Mobile Repair Engineer - Beni Suef - (Males Only)
1561                         Customer Service Coordinator
4017                                        IT Specialist
3030                                     Mobile Developer
3312                       Full-Stack WordPress Developer
1810                    B2B Software Sales Representative
3498                       Mechanical Production Engineer
567                                      Graphic Designer
1211                      Presentation & Graphic Designer
2197                                           SEO Intern
4300                       Junior Software Engineer (SDE)
1619                                 Sales Representative
3768                                   Operations Manager
978                                     Logistics Officer
857                             Software Business Analyst
2815                         Secretary/Personal Assistant
3465                              CEO Executive Assistant
3528                                     Chief Accountant
1898                    UX/UI Department Head - New Cairo
3900                                         HR Recruiter
1256                                Logistics Coordinator
3663                      Online B2B Sales Representative
937                 Reservation Agent - Religious Tourism
2675                                    Back Office Agent
1457                      Corporate Sales Account Manager
2145                            Digital Marketing Manager
1712                           Senior Front End Developer
535                                            HR Manager
358                           Foreign Purchasing Engineer
2119                     Office Administration Supervisor
3340                       Accounts Receivable Accountant
3377                                         Testing Lead
3512                                      Project Manager
2012               Electrical Engineer (Technical Office)
1583                         Motion Graphic & 2D Designer
2605                           Call Center Representative
2290                                       Arabic Teacher
76                                           Psychologist
1169                                 Supply Chain Manager
1482                                 Senior IOS Developer
2716                             Warehouse Keeper - Rehab
1487                              IT Help Desk Specialist
1259                                  Executive Secretary
1761                  Stock Control Manager - Warehousing
2893                                          Sales Agent
4079                      IT Technical Support Specialist
1818                                 Full Stack Developer
115                                   Batch Plant Manager
2615                                  Technical Team Lead
1755               Project Coordinator - Technical Office
3119                               Senior Software Tester
2186                         Technical Support Specialist
1040                                    Flutter Developer
2144                          Customer Service Supervisor
4108        Telemarketer/Customer Service Agent - English
4107                                           Accountant
1291                   Software Quality Assurance Manager
3370                                  Junior Cost Manager
1914                             German Teacher - Tunisia
2196                                        HR Generalist
3586                   PHP Laravel - Full Stack Developer
4266                              Creative Content Writer
4163    Indoor Sales Consultant For International Markets
2588                            UX Designer And Wordpress
2083             ERP Functional Support Specialist (Odoo)
2872                             Graphic Designer - Cairo
2291                  Video Editor & Animator - New Cairo
1574                                    Telesales Manager
703      Digital Marketing Specialist - Remotely -Part...
163                                    CEO Office Manager
2303             Export Sales Account Manager – Gulf Area
2838                                      Telesales Agent
1532                              Asterisk SIP Consultant
1677                        Solar Energy Systems Engineer
3737                                      Telesales Agent
1790                             Graphic Designer - Cairo
618                                  Social Media Manager
3748                             Senior Planning Engineer
3859                      Office Manager - French Speaker
546                             Junior Geomatics Engineer
2185                              Senior Graphic Designer
4259                  Customer Service Operations Manager
2622                                     IT Administrator
4066                       Project Manager (Agricultural)
1233                                         Data Analyst
1945                                   Content Specialist
1822                         Digital Marketing Specialist
1422                        Senior .NET Developer - Cairo
2954                                    Community Manager
875                   Sales Representative Indoor/Outdoor
3786                                         MEP Engineer
2315                         Researcher - Turkish Speaker
3245         Node.js / React / Next.js & Liquid Developer
3825        SDA Product Manager (Home Appliance Industry)
825                                       Account Manager
Name: Title, dtype: object

* There are arabic titles

In [182]:
dataset['YearsExp'].sample(100)

4221      5-6 Yrs of Exp
3381      2-4 Yrs of Exp
4127      0-1 Yrs of Exp
2635      1-3 Yrs of Exp
1007      10+ Yrs of Exp
1834      1-4 Yrs of Exp
426       2-3 Yrs of Exp
1460       8+ Yrs of Exp
724       2-5 Yrs of Exp
4296       1+ Yrs of Exp
2719       5+ Yrs of Exp
38        0-3 Yrs of Exp
2956      3-5 Yrs of Exp
2281       3+ Yrs of Exp
4050      5-7 Yrs of Exp
2033      2-4 Yrs of Exp
2374      2-5 Yrs of Exp
932       0-2 Yrs of Exp
3738       2+ Yrs of Exp
2862      2-5 Yrs of Exp
3382      2-4 Yrs of Exp
1066       5+ Yrs of Exp
2132    10-15 Yrs of Exp
2785     7-10 Yrs of Exp
1327      1-3 Yrs of Exp
588     15-20 Yrs of Exp
3298      0-3 Yrs of Exp
431        1+ Yrs of Exp
2214      1-2 Yrs of Exp
1888      4-7 Yrs of Exp
420     10-16 Yrs of Exp
4123      3-5 Yrs of Exp
3355       5+ Yrs of Exp
204        3+ Yrs of Exp
1049      3-5 Yrs of Exp
1773       3+ Yrs of Exp
1895     null Yrs of Exp
86        2-6 Yrs of Exp
3161      1-3 Yrs of Exp
3514       1+ Yrs of Exp
1748     8-12 Yrs of Exp
1085      1-7 Yrs of Exp
499       5-8 Yrs of Exp
311       3-5 Yrs of Exp
3583      2-4 Yrs of Exp
114       3-8 Yrs of Exp
2170      1-2 Yrs of Exp
469        3+ Yrs of Exp
3415     9-10 Yrs of Exp
2698      1-3 Yrs of Exp
2241      1-3 Yrs of Exp
3036       5+ Yrs of Exp
1425       2+ Yrs of Exp
2621      2-4 Yrs of Exp
2952      4-6 Yrs of Exp
3281      3-6 Yrs of Exp
3498       5+ Yrs of Exp
2767      4-6 Yrs of Exp
1095      4-7 Yrs of Exp
2532      3-5 Yrs of Exp
383       3-4 Yrs of Exp
1556      1-4 Yrs of Exp
1779      2-3 Yrs of Exp
118       3-5 Yrs of Exp
1944      1-3 Yrs of Exp
346       0-1 Yrs of Exp
2822      1-3 Yrs of Exp
3879      1-3 Yrs of Exp
3044     8-15 Yrs of Exp
1896       4+ Yrs of Exp
1133      2-4 Yrs of Exp
3806     8-10 Yrs of Exp
2199      2-3 Yrs of Exp
942       2-3 Yrs of Exp
1001     8-10 Yrs of Exp
1847      2-4 Yrs of Exp
2711      1-2 Yrs of Exp
1543      3-8 Yrs of Exp
2359      5-9 Yrs of Exp
1749      3-5 Yrs of Exp
3427      15+ Yrs of Exp
3520     5-15 Yrs of Exp
1324       3+ Yrs of Exp
3575      4-5 Yrs of Exp
1319      4-8 Yrs of Exp
3356      0-2 Yrs of Exp
1608       2+ Yrs of Exp
468       3-5 Yrs of Exp
4143       2+ Yrs of Exp
3477       4+ Yrs of Exp
2312      3-5 Yrs of Exp
2208       1+ Yrs of Exp
3474       2+ Yrs of Exp
2064      3-8 Yrs of Exp
2273      3-7 Yrs of Exp
3196    10-13 Yrs of Exp
225     10-12 Yrs of Exp
2469     5-10 Yrs of Exp
602       1-3 Yrs of Exp
1845       3+ Yrs of Exp
Name: YearsExp, dtype: object

* we notice there is null values as string

In [183]:
dataset['Skills'].sample(10)

111     Sales Target, Furniture Sales, Furniture Desig...
1368    Sales Skills, Sales Target, Tarining Services,...
3358    Recruitment, Microsoft Office, Communication S...
1722    Finance, Accounting, Financial Management, Fin...
257     Administration, English, Labor Law, Arabic, HR...
1770    C++, Java, TCP/IP & Protocols, Unix, Informati...
910     Quality Control, QC, Quality Assurance, QA, Co...
521     Document Controller, English, Document Managem...
3557    Customer Support, Customer Care, English, Micr...
694     Social Media, Google Analytics, Google Adwords...
Name: Skills, dtype: object

* skills are separated by comma delimiter

In [184]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4380 entries, 0 to 4379
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     4380 non-null   object
 1   Company   4380 non-null   object
 2   Location  4380 non-null   object
 3   Type      4380 non-null   object
 4   Level     4380 non-null   object
 5   YearsExp  4380 non-null   object
 6   Country   4380 non-null   object
 7   Skills    4380 non-null   object
dtypes: object(8)
memory usage: 273.9+ KB

In [185]:
dataset.describe()

,Title,Company,Location,Type,Level,YearsExp,Country,Skills
count,4380,4380,4380,4380,4380,4380,4380,4380
unique,2965,1534,162,6,9,101,42,4227
top,Accountant,Confidential,Cairo,Full Time,Experienced,1-3 Yrs of Exp,Cairo,"Corporate Sales, Real Estate, Advertising, Mar..."
freq,57,590,563,4168,2198,414,2230,12

In [186]:
#check for shape of dataset
dataset.shape

(4380, 8)

=====================================================================================

### Preprocess Title

In [187]:
dataset['Title'].iloc[1930]

'Furniture Painting Engineer - مهندس كيميائى...'

In [188]:
dataset['Title'].iloc[1359]

'Senior English Instructor (Nasr City Branch)'

* we notice there is written in other languages in some titles
* we notice that the location is repeated in some titles

In [189]:
#function to filter and normalize words
def filter_words(dataset,col_name):
    
    """
    function to remove words written in another language,location if exists and normalize words
    Parameters:
    * dataset (pd.DataFrame)
    * col_name (String)
     
    Return (pd.Series)
    """
    #remove other words -> remove more spaces -> trim -> remove location if exists
    processed_dataSeries = []
    data_series = dataset[col_name]
    
    #remove space in the beginning of location
    location_series = dataset['Location'].apply(lambda x: x[1:])
    
    for index in range(len(dataset)):
        text = re.sub('\s+',' ',re.sub('[^a-zA-Z\s]','',data_series[index]).strip())
        first_part_location = text.find(location_series[index].split(' ')[0])
        if first_part_location != -1:
            text = text.replace(text[first_part_location-1:],'')
            
        processed_dataSeries.append(text)
        
    return pd.Series(processed_dataSeries)

In [190]:
filter_words(dataset,'Title')[1930]

'Furniture Painting Engineer'

In [191]:
filter_words(dataset,'Title')[1359]

'Senior English Instructor'

In [192]:
dataset['Title'] = filter_words(dataset,'Title')

In [193]:
dataset[dataset['Title'].apply(lambda x: x.split(' ')[0]=='Senior')].sample(5)

,Title,Company,Location,Type,Level,YearsExp,Country,Skills
2438,Senior Java Developer,SmartTech Systems,Nasr City,Full Time,Experienced,4+ Yrs of Exp,Cairo,"Java, Information Technology (IT), Software De..."
1545,Senior Full Stack Java Developer AWS,Flairstech,Maadi,Full Time,Experienced,5+ Yrs of Exp,Cairo,"Web, Software Development, Computer Science, I..."
3162,Senior International Marketing Specialist,ITIDA,6th of October,Full Time,Experienced,3-5 Yrs of Exp,Giza,"Digital Marketing, Business Administration, Re..."
2076,Senior Media Buyer,Awamer Alshabaka _اوامر الشبكه,Nasr City,Full Time,Experienced,2-3 Yrs of Exp,Cairo,"Digital Marketing, Campaigns, Google Ads, Snap..."
4277,Senior Odoo Developer,MidEast Communication Systems,New Cairo,Full Time,Experienced,4-7 Yrs of Exp,Cairo,"Information Technology (IT), Odoo Modules, Com..."

In [194]:
#check for abbreviations at the beginning
dataset[dataset['Title'].apply(lambda x: len(x.split(' ')[0])==2)]['Title'].unique()

array(['Sr JavaScript Developer',
       'Co teacher Chemistry Secondary stage and High',
       'IT Help Desk Specialist', 'IT Network Specialist', 'UI Developer',
       'HR Admin Officer', 'RD Electrical Power Engineer',
       'AX Dynamics Developer', 'HR Specialist', 'HR Intern',
       'OD Specialist', 'IT Sales Specialist', 'IT Help Desk',
       'QC Supervisor', 'IT Manager', 'IT Manager El Katib Hospital',
       'HR Manager', 'AR Accountant', 'RD Mechanical Engineer',
       'TV Presenter', 'HR Supervisor', 'HR Payroll Specialist',
       'HC Admin Director', 'IT Microsoft System Administrator',
       'IT Specialist Intern', 'UI UX Designer',
       'IT Infrastructure Specialist', 'HR Director', 'IT Specialist',
       'HR Generalist th of Ramadan City', 'IT Help Desk Officer',
       'HR Generalist', 'UI DesignerDeveloper', 'BB Sales Executive',
       'HR Screener', 'AX Project Manager', 'IT Administrator Freelance',
       'HR Associate', 'IT Manager Acting Multinational',
       'Sr ECommerce Operations Officer', 'IT Support Engineer',
       'Sr iOS Developer', 'HR Administration UnPaid Internship',
       'GL Accountant', 'IT System Administrator Minya',
       'FB Procurement Manager IKEA Cairo Festival',
       'HR And Admin Officer', 'OD Trainee',
       'IT Service Desk Engineer Outsourcing', 'HR Coordinator',
       'IT Specialist Fashion Retail', 'HR Generalist Fashion Retail',
       'IT Team Leader', 'HR Coordinator Social Media Specialist',
       'HR Section Head', 'VC Personal Assistant',
       'IT Systems Administrator Supervisor', 'QC Document Controller',
       'HR Executive Assistant', 'IT Field Support Coordinator Intern',
       'Jr Business Development Specialist',
       'HR Personnel Specialist th October', 'HR Personnel Specialist',
       'HR Director World Class Manufacturer',
       'HR Performance Appraisal Manager', 'Sr Civil Engineer',
       'Sr Electrical Engineer', 'Sr Mechanical Engineer',
       'IT ERP System Manager', 'BB Software Sales Representative',
       'Sr Document Control', 'BI Analyst KSA',
       'MS Dynamics AX Developer', 'IT System Analyst',
       'IT Specialist Cairo', 'HR Admin Associate', 'HR Officer',
       'Sr Operational Excellence Specialist', 'IT Help Desk Team leader',
       'HR Recruitment Admin', 'TV Production Manager',
       'Sr Business Developer', 'PR Marketing Manager',
       'IT Help Desk Agent', 'Sr Lighting Sales Engineer',
       'HR Specialist Personnel', 'IT System Administrator',
       'HR Personnel Assistant Clerk', 'QC Engineer',
       'QC Civil Engineer East Of AlOwainat Site', 'QC Engineer Resource',
       'Sr HR Specialist', 'QC Software Testing Team Lead', 'QA Engineer',
       'IT Technical Support Specialist', 'IT Help desk',
       'UX Designer And Wordpress', 'UI Graphic Designer Intern',
       'OR Head Nurse CSH', 'UI DeveloperDesigner', 'IT Administrator',
       'IT System Specialist', 'HR OD Senior Specialist',
       'PR Marketing Specialist', 'HR Assistant', 'UI Developer Designer',
       'OD Supervisor', 'Sr Flutter Developer', 'Sr Graphic Designer',
       'RD Methodology Specialist', 'HR Recruiter', 'Sr Content Creator',
       'IT Infrastructure Engineer', 'UX Designer',
       'UI UX Designer Intern Brazil', 'HR Advisor Generalist',
       'IT Sales Engineer', 'HR Specialist Recruitment',
       'BB SaaS Growth Hacker', 'RD Hardware Engineer', 'UI UX Developer',
       'UC Senior Collaboration Engineer', 'IT HelpDesk',
       'Sr Personnel Specialist', 'IT Technical Support Engineer',
       'Sr Media Buyer Digital Campaign Manager',
       'QA Automation Engineer', 'IT Hardware Networking Specialist',
       'HR Business Partner', 'RD Stability Pharmacist Cairo',
       'Sr Data Engineer ODI', 'HR Implementation Consultant',
       'IT Corporate Sales Executive', 'QC MEP Engineer',
       'QC Engineer Finishes', 'AV Projects Engineer',
       'BB Sales Account Manager',
       'Sr Mobile Software Developer React Native',
       'IT D Technician Dental Company', 'HR Recruitment Specialist',
       'IT System Operations Intern',
       'IT Help Desk Engineer Nile Badrawi Hospital',
       'IT Technical Support and Help Desk',
       'HR Director Background Real Estate', 'AI PreSales Engineer',
       'PR Sales Specialist', 'UI UX Designer Graphic Designer',
       'HR Recruitment Specialist Construction', 'HR Admin',
       'HR Specialist Alexandria', 'IT Help Desk Agent Sharqia',
       'Sr Net Developer', 'IT Help Desk Supervisor'], dtype=object)

* we notice that there are abbreviations of some titles

In [195]:
#check for abbreviations in the middle
dataset[dataset['Title'].apply(lambda x: ABBR_DICT.get(x.split(' ')[0],x.split(' ')[0]) if len(x.split(' ')[0])==2 else x).str.contains('HR')].sample()

,Title,Company,Location,Type,Level,YearsExp,Country,Skills
2808,Senior HR Specialist,Notion International School,Faisal,Full Time,Experienced,3-5 Yrs of Exp,Giza,"Recruitment, Personnel, Labor Law, Training, H..."

In [196]:
#check for abbreviations belong to title 
dataset[dataset['Title'].str.startswith('Sr')].loc[265]

Title                                         SrNET Developer
Company                                               Z2 Data
Location                                            Nasr City
Type                                                Full Time
Level                                             Experienced
YearsExp                                        4+ Yrs of Exp
Country                                                 Cairo
Skills      BACKEND, FULL STACK, MVC, C#, ASP.NET, DEVELOP...
Name: 265, dtype: object

In [197]:
#split abbreviation away from title 
abbrs = list(ABBR_DICT.keys())
dataset['Title'] = dataset['Title'].apply(lambda x:x[:2]+' '+x[2:] if x[:2] in abbrs else x)

In [198]:
#check for sure
dataset['Title'].iloc[265]

'Sr NET Developer'

In [199]:
#replace abbreviation if it is at the beginning of title
dataset['Title'] = dataset['Title'].apply(lambda x: x.replace(x.split(' ')[0],ABBR_DICT.get(x.split(' ')[0],x.split(' ')[0])) if len(x.split(' ')[0])==2 else x)

In [200]:
#replace abbreviation if it is in the second word of title
dataset['Title'] = dataset['Title'].apply(lambda x: x if len(x.split(' '))==1 else ( x.replace(x.split(' ')[1],ABBR_DICT.get(x.split(' ')[1],x.split(' ')[1])) if len(x.split(' ')[1])==2 else x))

In [201]:
#replace abbreviation if it is in the third word of title
dataset['Title'] = dataset['Title'].apply(lambda x: x if len(x.split(' '))<=2 else ( x.replace(x.split(' ')[2],ABBR_DICT.get(x.split(' ')[2],x.split(' ')[2])) if len(x.split(' ')[2])==2 else x))

In [202]:
#check for sure
dataset[dataset['Title'].str.contains('HR')]

Empty DataFrame
Columns: [Title, Company, Location, Type, Level, YearsExp, Country, Skills]
Index: []

================================================================================================

### Preprocess location

In [203]:
dataset['Location'][0]

' New Cairo'

* we notice there is space at the beginning of each word

In [204]:
#remove space from the word
dataset['Location'] = dataset['Location'].apply(lambda x: x[1:])

In [205]:
#check for sure
dataset['Location'][0]

'New Cairo'

In [206]:
#check for null values
dataset['Location'].str.contains('null').sum()

0

In [207]:
dataset['Location'].isnull().sum()

0

==============================================================================================

### Preprocess YearsExp

In [208]:
#check for null
dataset[dataset['YearsExp'].str.contains('null')].sample()

,Title,Company,Location,Type,Level,YearsExp,Country,Skills
1566,Medical Recruiter Intern,Andalusia Group,Maadi,Internship,Entry Level,null Yrs of Exp,Cairo,"Recruitment, Screening, Medical Network, Pharm..."

In [209]:
#replace null values with empty string
dataset['YearsExp'] = dataset['YearsExp'].apply(lambda x:'' if 'null' in x else x)

In [210]:
#check for sure
dataset['YearsExp'].str.contains('null').sum()

0

### Preprocess skills

In [211]:
#comma delimiter
dataset['Skills'].sample(5)

287     Servers, Linux, Windows, Software, MySQL, Virt...
2776    Mechanical Engineering, Design, MDB, MCC, Auto...
4008    Quality Assurance, QC, QA, Quality Control, Mi...
2751    E-Marketing, CMS, SEO, SEM, PPC, Advertising, ...
4112    Financial Analysis, Commerce, Tax Accounting, ...
Name: Skills, dtype: object

In [212]:
#arabic words
dataset['Skills'].iloc[51]

'فنيين, صيانة, ميكانيكة, Manufacturing/Production'

In [213]:
#location found in skills
dataset['Skills'].iloc[3644]

'Real Estate, New Cairo, Sales Target, Sales Skills, English, Property Sales, Property Consultant, Customer Service/Support'

* we notice skills are separated by comma delimiter, some contains Arabic words and others contains location

In [214]:
# reuse the function of filter words and modify it
#function to filter and normalize words
def filter_words_skills(dataset,col_name):
    """
    function to remove words written in another language,location if exists and normalize words
    Parameters:
    * dataset (pd.DataFrame)
    * col_name (String)
     
    Return (pd.Series)
    """
    #remove other words -> remove more spaces -> trim -> title -> remove location if exists
    processed_dataSeries = []
    data_series = dataset[col_name]
    
    for index in range(len(dataset)):
        text = re.sub('\s+',' ',re.sub('[^a-zA-Z\s,/().0-9-]','',data_series[index]).strip()).title()
        location = dataset['Location'][index] 

        if location in text:
            text = text.replace(location,'')
            
        text = text.split(',')
        
        #convert any space into ''
        text = list(map(str.strip, text))
        
        #remove ''
        for _ in range(text.count('')):
            text.remove('')


        processed_dataSeries.append(text)
        
    return pd.Series(processed_dataSeries)

In [215]:
filter_words_skills(dataset,'Skills').iloc[51]

['Manufacturing/Production']

In [216]:
filter_words_skills(dataset,'Skills').iloc[3644]

['Real Estate',
 'Sales Target',
 'Sales Skills',
 'English',
 'Property Sales',
 'Property Consultant',
 'Customer Service/Support']

In [217]:
filter_words_skills(dataset,'Skills').iloc[556]

['Digital Marketing',
 'Online Marketing',
 'Seo',
 'English',
 'Google Adwords',
 'Design',
 'Campaigns',
 'Social Media Marketing',
 'Ppc',
 'Cms']

In [218]:
dataset['Skills'] = filter_words_skills(dataset,'Skills')

=====================================================================================

In [219]:
dataset.head()

,Title,Company,Location,Type,Level,YearsExp,Country,Skills
0,Customer Service Agent,Johnson Controls,New Cairo,Full Time,Entry Level,1-3 Yrs of Exp,Cairo,"[Call Center, Customer Support, Customer Care,..."
1,Marketing Manager,SYE English Community,Dokki,Full Time,Manager,5-10 Yrs of Exp,Giza,"[Market Research, Social Media, Online Marketi..."
2,Medical Representative Heliopolis,So Value Pharma,Cairo,Full Time,Entry Level,0-5 Yrs of Exp,Egypt,"[Cardio-Metabolic, Sales Skills, Sales Target,..."
3,Order Handling Specialist,Johnson Controls,New Cairo,Full Time,Experienced,3-5 Yrs of Exp,Cairo,"[Supply Officer, Supply Planner, Procurement A..."
4,Storekeeper,Confidential,Cairo,Full Time,Experienced,3+ Yrs of Exp,Egypt,"[Warehousing, Storekeeping, Logistics/Supply C..."

### save preprocessed data to pickle file

In [220]:
#save dataset
dataset.to_pickle(PREPROCESSED_DATA_PATH)